/* Students list table mobile */
.table {
  overflow-x:auto;
  border-spacing: 0 10px;
  margin: 22px 15px 0;
}

.students-list-table {
  display: grid;
  grid-row-gap: 20px;
  min-width: 1000px;
}

.table-thead {
  display: grid;
  grid-template-columns: 78px 17fr 20fr 20fr 30fr 20fr 10fr 10fr;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-xs);
  color: var(--secondary-color-300);
}

.table-row {
  display: grid;
  grid-template-columns: 78px 17fr 20fr 20fr 30fr 20fr 10fr 10fr;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  background-color: var(--secondary-color-50);
  align-items: center;
}

.table-thead span:nth-child(n+2),
.table-row span:nth-child(n+2) {
  padding-left: 31px;
}

@media (min-width: 766px) {
  .table {
    margin: 22px 30px 0;
  }
}
