/* START FORM */
/* STYLE APPLIED TO THE MOBILE */
.modal-content {
    max-width: 510px;
    padding: 0 15px;
}

.title {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
}

.form {
  overflow: auto;
  }
  
.form-input-group {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
    
.label-input {
  font-size: var(--font-size-s);
}
    
.form-control {
  border-radius: var(--border-radius-s);
  display: block;
  width: calc(100% - 34px);
  padding: 15px;
  margin-top: 15px;
  font-size: var(--font-size-xs);
}
  
.form-warn-msg {
  margin-top: 10px;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}
  
/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1200px) {
  .label-input {
    font-size: var(--font-size-l);
  }
  
  .form-control {
    font-size: var(--font-size-s);
  }
  
  .form-input-group {
    padding-top: 20px;
  }
  
  .form-warn-msg {
    margin-top: 15px;
  }
}
/* END FORM */
  