/* START FORM */
/* STYLE APPLIED TO THE MOBILE */
.modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: var(--dark-color); 
}

.modal-form {
  display: none;
}

.modal.modal-show {
  display: flex;
}

.modal-content {
  background-color: var(--secondary-color-50);
  height: 500px;
  max-width: 510px;
  padding: 0 15px;
  position: absolute;
  top: 20%;
}

.title {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
}

.form {
  overflow: auto;
}
  
.form-input-group {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
    
.label-input {
  font-size: var(--font-size-s);
}
    
.form-control {
  border-radius: var(--border-radius-s);
  display: block;
  width: calc(100% - 34px);
  padding: 15px;
  margin-top: 15px;
  font-size: var(--font-size-xs);
}
  
.form-warn-msg {
  margin-top: 10px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

/* Form confirm delete */
.modal-confirm-delete {
  top: 20px;
}

.modal-content-delete {
  height: 200px;
}

.title-confirm-delete {
  color: var(--warning-color-50);
  font-weight: var(--font-weight-l);
  margin-top: 25px;
}

.describe {
  font-size: var(--font-size-m);
  margin-top: 20px;
}

.btn-form-confirm-delete {
  margin-top: 30px;
  text-align: right;
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 766px) {
    /* Form confirm delete */
  .modal-content-delete {
    height: 250px;
  }

  .title-confirm-delete {
    margin-top: 35px;
  }

  .describe {
    font-size: var(--font-size-m);
    margin-top: 40px;
  }

  .btn-form-confirm-delete {
    margin-top: 35px;
    text-align: right;
  }

  .delete-btn {
    padding: 15px 20px;
    margin-left: 15px;
  }

  .cancel-btn {
    padding: 15px 20px;
  }
}
  
/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1200px) {
  .label-input {
    font-size: var(--font-size-l);
  }
  
  .form-control {
    font-size: var(--font-size-s);
  }
  
  .form-input-group {
    padding-top: 20px;
  }
  
  .form-warn-msg {
    margin-top: 15px;
  }

  .modal-content-delete {
    text-align: center;
    width: 500px;
    height: 250px;
  }
}
/* END FORM */
  