/* START NAVBAR */
.container-navbar {
    width: 193px;
}

.nav-icon-content {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.nav-icon {
    display: inline-block;
}

.nav-content {
    display: inline-block;
    font-weight: var(--font-weight-m);
    padding-left: 10px;
}

.nav-icon-content:hover {
    background-color: var(--primary-color-100)
}

.nav-icon-logout {
    padding-top: 60px;
    text-align: center;
}

.logout {
    display: inline-block;
    font-weight: var(--font-weight-m);
}

.icon-logout {
    display: inline-block;
    padding-left: 10px;
}
/* END NAVBAR */